* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(Background\ Image\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parent{
    position: absolute;
    top: 29%;
    left: 30%;
    background-color:rgb(0, 0, 0, 0.5);
    width: 550px;
    height: 270px;
    padding: 20px;
    margin: 15px;
    color: (#fff);
    z-index: 1;
}


.container1{
    color: #fff;
}

.container1 h2{
    font-size: 18px;
    text-transform: capitalize;
}

.container1 p{
    font-size: 12px;
}

.parent2{
    position: absolute;
    top: 35px;
    left: 40px;
    width: 700px;
    height: 330px;
}


.parent2{
    position: absolute;
    top: 145px;
    left: 650px;
    width: 280px;
    height: 320px;
    background-color: rgb(210,201, 204, 0.9);
    margin: 18px;
    padding: 25px;
    z-index: 2;
}
.container2 h1{
    text-transform: capitalize;
    padding-bottom: 15px;
}
.btn1{
    margin: 10px;
    border-radius: 20px;
    border: 2px;
    border-color:steelblue;
    padding: 5px;
    width: 230px;
    height: 33px;
    cursor: pointer;
}


.btn2{
    margin: 10px;
    border-radius: 20px;
    border: 2px;
    border-color: slategray;
    padding: 5px;
    width: 230px;
    height: 33px;
}

.btn3{
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 230px;
    background-color: indigo;
    height: 33px;
    color: white;
    font-size: 10px;
}

.btn3:hover{
    background-color: purple;
    color: wheat;
}

.btn4{
    margin: 10px;
    text-decoration:none;
    font-size: 12px;
    color: #00ced1;
    font-weight: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn4:visited{
    color:#00ced1;
}

.btn4:active{
    color: steelblue;
}

.btn4:hover{
    color:blue;
}

.btn5{
    margin: 15px;
    border: 2px blue;
    border-radius: 20px;
    padding: 7px;
    background-color: indigo;
    color: white;
    cursor: pointer;
}

    